:root {
  --white: #FCFCFC;
  --black: #080708;
  --yellow: #FFD166;
  --orange: #f45835;
  --blue: #26547C;
  --red: #D9303E;
  --pink: #EF476F;
  --emerald: #06d6a0;
}

.container {
  display: flex;
  flex-direction: column;
  background-image: url('../assets/images/wall.png');
  height: 100vh;
}

.menu {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  
  width: 100%;
  height: 90px;
  background-color: var(--black);
  color: var(--white);

  border-bottom: 5px solid var(--yellow);
}

.menu div > :first-child {
  color: var(--red);
}

.menu div > :last-child {
  margin-top: 0.625rem;
}

.menu-lives {
  display: flex;
  align-items: center;
  justify-content: center;
}

.panel {
  margin-top: 1rem;
  
  display: flex;
  align-items: center;
  justify-content: center;
}

.square {
  width: 150px;
  height: 150px;
  border: 1px solid var(--black);
  background-color: var(--emerald);
}

.enemy {
  background-image: url('../assets/images/ralph.png');
  background-size: cover;
}